// Russian colors
$sudoku-color-sawtooth-aak: #F19066;
$sudoku-color-summertime: #F5CD79;
$sudoku-color-cornflower: #546DE5;
$sudoku-color-tigerlily: #E15F41;
$sudoku-color-deep-rose: #C44569;
$sudoku-color-purple-corallite: #574B90;
$sudoku-color-flamingo-pink: #F78FB3;
$sudoku-color-blue-curacao: #3DC1D3;
$sudoku-color-porcelain-rose: #E66767;
$sudoku-color-biscay: #303952;
$sudoku-color-creamy-peach: #F3A683;
$sudoku-color-rosy-highlight: #F7D794;
$sudoku-color-soft-blue: #778BEB;
$sudoku-color-brewed-mustard: #E77F67;
$sudoku-color-old-geranium: #CF6A87;
$sudoku-color-purple-mountain-majesty: #786FA6;
$sudoku-color-rogue-pink: #F8A5C2;
$sudoku-color-squeaky: #63CDDA;
$sudoku-color-apple-valley: #EA8685;
$sudoku-color-pencil-lead: #596275;

// Original colors
$sudoku-color-white: #FFFFFF;
$sudoku-color-black: #000000;
